--allow-incomplete-classpath \
-H:+ReportUnsupportedElementsAtRuntime \
-H:InitialCollectionPolicy=com.oracle.svm.core.genscavenge.CollectionPolicy$BySpaceAndTime \
-J-Djava.util.concurrent.ForkJoinPool.common.parallelism=1 \
-H:+PrintAnalysisCallTree \
-H:-AddAllCharsets \
-H:+SpawnIsolates \
-H:+ReportExceptionStackTraces \
-H:+StackTrace \
-Dio.netty.noUnsafe=true \
-Dio.netty.noJdkZlibDecoder=true \
--delay-class-initialization-to-runtime=io.netty.handler.ssl.JdkNpnApplicationProtocolNegotiator,io.netty.handler.ssl.ReferenceCountedOpenSslEngine,io.netty.util.internal.ObjectCleaner,io.netty.handler.ssl.ReferenceCountedOpenSslContext,io.netty.channel.DefaultChannelConfig,io.netty.handler.codec.http.HttpObjectEncoder,io.netty.handler.codec.http.websocketx.WebSocket00FrameEncoder \
-Dfile.encoding=UTF-8
--enable-http
--enable-https
-H:ReflectionConfigurationFiles=reflect.config
