[
  {
    "name" : "com.baulsupp.okurl.Main",
    "fields" : [
      { "name" : "method", "allowWrite" : true },
      { "name" : "data", "allowWrite" : true },
      { "name" : "headers", "allowWrite" : true },
      { "name" : "dontFollowRedirects = false
      { "name" : "referer", "allowWrite" : true },
      { "name" : "outputDirectory", "allowWrite" : true },
      { "name" : "authorize", "allowWrite" : true },
      { "name" : "renew", "allowWrite" : true },
      { "name" : "remove", "allowWrite" : true },
      { "name" : "token", "allowWrite" : true },
      { "name" : "showCredentials", "allowWrite" : true },
      { "name" : "complete", "allowWrite" : true },
      { "name" : "urlComplete", "allowWrite" : true },
      { "name" : "apiDoc", "allowWrite" : true },
      { "name" : "userAgent", "allowWrite" : true },
      { "name" : "connectTimeout", "allowWrite" : true },
      { "name" : "readTimeout", "allowWrite" : true },
      { "name" : "pingInterval", "allowWrite" : true },
      { "name" : "allowInsecure", "allowWrite" : true },
      { "name" : "showHeaders", "allowWrite" : true },
      { "name" : "showHttp2Frames", "allowWrite" : true },
      { "name" : "debug", "allowWrite" : true },
      { "name" : "version", "allowWrite" : true },
      { "name" : "cacheDirectory", "allowWrite" : true },
      { "name" : "protocols", "allowWrite" : true },
      { "name" : "tracing", "allowWrite" : true },
      { "name" : "ipMode", "allowWrite" : true },
      { "name" : "dnsMode", "allowWrite" : true },
      { "name" : "dnsServers", "allowWrite" : true },
      { "name" : "resolve", "allowWrite" : true },
      { "name" : "certificatePins", "allowWrite" : true },
      { "name" : "networkInterface", "allowWrite" : true },
      { "name" : "clientAuth", "allowWrite" : true },
      { "name" : "keystoreFile", "allowWrite" : true },
      { "name" : "unixSocket", "allowWrite" : true },
      { "name" : "serverCerts", "allowWrite" : true },
      { "name" : "connectionSpec", "allowWrite" : true },
      { "name" : "cipherSuites", "allowWrite" : true },
      { "name" : "tlsVersions", "allowWrite" : true },
      { "name" : "opensc", "allowWrite" : true },
      { "name" : "socksProxy", "allowWrite" : true },
      { "name" : "proxy", "allowWrite" : true },
      { "name" : "osProxy", "allowWrite" : true },
      { "name" : "tokenSet", "allowWrite" : true },
      { "name" : "sslDebug", "allowWrite" : true },
      { "name" : "user", "allowWrite" : true },
      { "name" : "maxRequests", "allowWrite" : true },
      { "name" : "curl", "allowWrite" : true },
      { "name" : "rawOutput", "allowWrite" : true },
      { "name" : "localCerts", "allowWrite" : true },
      { "name" : "arguments", "allowWrite" : true }
    ],
    "methods" : [
      { "name" : "<init>" }
    ]
  }
]
